<p>Thanks for creating a new lecture, check your profile to see if students have signed up!!</p>



<%= link_to "<button>Create another lecture</button>".html_safe, new_teacher_lecture_path(@teacher), :id => "button_id", :class => "button_class" %>
<br>
<p>or<p>

<%= link_to "<button>Go back to your profile</button>".html_safe, user_session_path, :id => "button_id", :class => "button_class" %>
