  

<html>
  <head>
    <title>Helpdesk sample</title>

      <script src ="jquery.js" charset="utf-8"></script>
      <script src ="app.js" charset="utf-8"></script>
  </head>

  <body>
    <%= image_tag("logo2.png",:size => "250x100", :alt => "our logo") %>

    <h1>Welcome @user</h1>
     <form action="https://plus.google.com/hangouts/_" method = "GET">
    <!-- Add the form fields for Name, Occupation, and Weapon -->
       <input type="hidden" name="gid" value="1295"/>
       <select name = "gd">
         <option>Hangouts</option>
       </select>

      <input type="submit"/>
      
    </form>
  </body>
    
            'Habibi English' is a digital education platform that will use the latest 
            technology available to improve and transform educational experiences in the 
            Arab world. The main aim of the platform is to increase the access to English
            teachers for students in Arab countries, mainly females that lack access to
            quality western teachers. The benefit of using our services is that we guarantee
            culturally sensitive lessons, all teachers are trained and respect the Muslim faith.
            We have respectful teachers that will provide high quality 
            lessons for students. Also, key areas such as pronunciation, vocabulary and 
            conversational fluency can be practised and improved. The classes are live and 
            individual feedback can be provided to all students so that students can increase 
            their fluency much quicker than any other style of class. Another benefit of using
            this platform is the ability to share class costs between users  which makes it a
            cheaper than other providers and students can have classes with their friends or 
            family members. Whatever you need English for whether it be for making friends when
            travelling, improving job prospects or gaining entry to international education
            establishments - we can help you, join is today.

              </em></p>
        </div>

</html>



















<!-- *This is the form to add an address input from class  
<h1>Add a new contact</h1>
<form action="/contacts" method="POST">
  <div>
    <label for="contact_name">Name</label>
    <input type="text" name="contact[name]" id="contact_name">
  </div>

  <div>
    <label for="contact_address">Address</label>
    <textarea name="contact[address]" id="contact_address"></textarea>
  </div>

  <div>
    <label for="contact_phone">Phone number</label>
    <input type="tel" name="contact[phone]" id="contact_phone">
  </div>

  <div>
    <label for="contact_email">Email</label>
    <input type="email" name="contact[email]" id="contact_email">
  </div>
  <button type="submit">Add this contact</button>
   <input type="hidden" name="authenticity_token"
      value="<%= form_authenticity_token %>">
</form> -->

